<div id="account-login-header">
	<ul class="search">
				<li>
					<span>&lt</span>
					
				</li>
				<li>
					<span >手机号登录</span>
					
				</li>
				<li>
					<span >
						
					</span>
					
				</li>
	</ul>
	
</div>
<div id="account-login-body">
	<input  id="userNameL"type="text" placeholder="手机号">
	<div class="line"></div>
	<input type="password" id="PasswordL" placeholder="密码">
	<div class="line"></div>
	<button id="Login" class="zhucekuang">登录</button><br/>
	<button class="zhucekuang" onclick="loadResister()">注册</button>
</div>
