<div id="radio-header">
	<ul class="search">
				<li>
					<span class="iconfont icon-pengyou"></span>
					
				</li>
				<li>
					<span >动态</span>
					
				</li>
				<li>
					<span class="iconfont icon-zhengzaibofang ">
						
					</span>
					
				</li>
			</ul>
	
</div>

<div id='radio-body'>
	<div class="refreshing">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<ul id="img-list">
		
	</ul>
	
</div>
