
		<div id="shoes-header">
			<ul class="search">
				<li>
					<span class="iconfont icon-yinle2"></span>
					
				</li>
				<li>
					<input type="text" placeholder="搜索音乐、歌词">
					
				</li>
				<li>
					<span class="iconfont icon-zhengzaibofang  bofang" id="bofang"></span>
					
				</li>
			</ul>
			<nav>
				<ul>
					<li>
						<a active>个性推荐</a>
					</li>
					<li>
						<a>歌单</a>
					</li>
					<li>
						<a>主播电台</a>
					</li>
					<li>
						<a href='javascript:void(0);' onclick='test();'>排行榜</a>
					</li>
				</ul>
			</nav>
			
		</div>
		
		
		<div id="shoes-body">
			
			
		
			
			
			<div id="shoes-content">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="img/2.jpeg"> </div>
        				<div class="swiper-slide"><img src="img/3.jpg"></div>
        				<div class="swiper-slide"><img src="img/4.jpg"> </div>
        				<div class="swiper-slide"><img src="img/5.jpg"> </div>
				
					</div>
				<div class="swiper-pagination"></div>
				</div>
				<div id="show-goods">
					<ul id="good-list">
				
					</ul>
				</div>
			</div>
			
		</div>
